node_modules
.next
.git
.gitignore
.vscode
.prettierrc
.prettierignore
.env
.env.*
!.env.example
deploy.sh
docker-compose.yml
Dockerfile
eslint.config.js
next-env.d.ts
tsconfig.tsbuildinfo
tests
*.md
